@charset "utf-8";
body {
	font-family: "LatoWeb";
	font-style: normal;
	margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: relative;
}
.deck-container .fondo {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: white;
}
.deck-container .fondo .logo-azteca{
    position: relative;
    width: 10rem;
    height: auto;
    left: 1rem;
    top: 1rem;
}
.deck-container .fondo hr {
    color: #016243;
    position: relative;
    margin: 1.5rem 0 0 11.5rem;

}

.slide {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "LatoWeb";
    font-size: 1.5rem;
    padding: 2rem 3rem 4rem 12rem;
  }

.slide h1 {
    text-align: center;
    font-family: "LatoWeb";
}
.slide img {
    margin: 0 auto;
    display: block;
}

.integrantes ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
}

.integrantes ul li {
    margin: 0 auto;
    display: block;
}
.integrantes-fotos {
    display: flex;
    justify-content: space-evenly;
}
.integrantes-fotos img {
    width: 12%;
    height: auto;
    border-radius: 50%;
}
.tecnologias{
    display: flex;
    height: 100vh;
}
.servicios, .moviles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.servicios {
    padding: 1rem;
}
.android, .ios {
    width: 100%;
    border-left: solid 1px black;
    padding: .5rem;
}
.android {
    border-bottom: solid 1px black;
}
.tecnologias .imagenes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
}
.tecnologias .imagenes img {
    width: 20%;
    height: auto;
    margin: .25rem;
}
.diagrama img {
    height: 75vh;
}

.videos-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.videos {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.videos video {
    width: 45%;
    height: auto;
    margin: .5rem 1rem;
}
.videos-textos {
    width: 45%;
    padding: 1rem;
}
.videos-textos, .videos-textos p {
    font-family: "LatoWeb";
    font-size: 2rem;
    padding: .5rem;
}

.diagrama-qa img {
    width: 90%;
}
